@tailwind base;

@tailwind components;

@tailwind utilities;

@layer base {
  :root {
    --color-primary: 0, 70, 51;
    --color-on-primary: 255, 255, 255;
    --color-secondary: 71, 89, 88;
    --color-on-secondary: 255, 255, 255;

    --color-background: 255, 255, 255;
    --color-on-background: 0, 0, 0;
    
    --color-border-color: 226, 232, 240;

    --color-success: 56, 193, 114;
    --color-warning: 246, 153, 63;
    --color-danger: 227, 52, 47;
    --color-disable: 184, 194, 204;
  }

  .dark {
    --color-primary: 187, 134, 252;
    --color-on-primary: 0, 0, 0;
    --color-secondary: 3, 218, 197;
    --color-on-secondary: 0, 0, 0;

    --color-background: 18, 18, 18;
    --color-on-background: 255, 255, 255;

    --color-border-color: 74, 85, 104;

    --color-success: 56, 193, 114;
    --color-warning: 246, 153, 63;
    --color-danger: 227, 52, 47;
    --color-disable: 184, 194, 204;
  }
}
